<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/public/main_styles.css">
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>