<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime Number Checker</title>
    <link rel="stylesheet" href="public/css/style.css"/>
</head>
<body>
    <h1>Prime Number Checker</h1>
    
    
    {{{body}}}

    <div class="footer"><footer>
        <p>Author: Kevin Christie Dsa</p>
        <p>CWID: 20009000</p>
    </footer></div>
    
    <script src="public/js/script.js"></script>
</body>
</html>