<header>
	<h1>Show Finder</h1>
</header>

<form id='searchForm'>
	<div id='error' hidden></div>
	<div>
		<label for='search_term'>Enter Show</label>
		<input
			type='text'
			id='search_term'
			name='searchTerm'
			placeholder='Enter Here.....'
		/>
	</div>
	<div>
		<button type='submit'>Submit</button>
	</div>

</form>

<ul id='showList' hidden></ul>
<div id='show' hidden></div>
<a href='/' id='homeLink' hidden>Back to All Shows</a>

<footer>
	<p>Name: Kevin Christie Dsa
		<br />
		Student ID: 20009000<br />
		What do you call a fake noodle? An impasta.</p>
</footer>