<h1>{{title}}</h1>
<article>
    <p>
        This is a Show Finder that uses "TV MAZE API". you can use this application to find your fav shows.  
    </p>
    <form class="server-form" method="post" action="/searchshows">
      <div class="form-group">
        <label for="showSearch">Search Show</label>
        <input type="text" class="form-control" id="showSearch" name="showSearchTerm" placeholder="Enter Here..." value="{{firstNumber}}">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
</form>
</article>

 

