<article>
    <h1>Show Name here</h1>
    <img> add show image here  src is the value in show
    <dl>
        add language
        genre in a <ul></ul>
        rating avg
        network Name
        summary
        
    </dl>

</article>