$body-background: rgb(255, 252, 252);
$heading-font-color:rgb(0, 0, 0);
$heading-font:"Copperplate", fantasy;
$primary-font-size: 15pt;
$font-basic: 'Helvitica',sans-serif;
$secondary-font-size: $primary-font-size - 2pt;
$brightPurple:rgb(140, 0, 255);
$button-primary-color:#0072ee;