<h1>{{title}}</h1> 
<article>
    <p>
        This is Show Finder. Show Finder gives you the opportunity to find your favourite shows with the click of a button. This Application uses TV MAZE API. this application is created using express handlebars,axios,express.
    </p>
<form class="showSearch-form" method="post" action="/searchshows">
      <div class="form-group">
        <label for="showSearch">Search Show</label>
        <input type="text" class="form-control" id="showSearch" name="showSearchTerm" placeholder="Enter Here..." >
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Submit</button>
      </div>
</form>
</article>

 

