li.is-prime {
    color: #00e676
}

li.not-prime {
    color: #ff3d00
}

.btn {
    background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
    
    
    padding: 14px 20px;
    margin: 8px 0;
    
    border-radius: 4px;
    cursor: pointer;
  } 

  .btn:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

html {
    background-color: whitesmoke;
}

h1 {
    color: black;
    font-weight: bold;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}

.footer { /*https://www.digitalocean.com/community/tutorials/how-to-create-a-static-footer-with-html-and-css-section-7*/
    
    position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
  background-color: #d0eeed;
}

p.footer{
    font-weight: bold;
    display:inline;
}

.footer-text-left {
    font-size:18px;
    padding-left:40px;
    float:left;
    
  }

  #error-container{
    color: #ff3d00;
    font-size:18px;
  }

  #result-container{
    font-style: oblique;
    font-weight: bold;
    font-size:22px;
    text-shadow: 2px 2px 8px #c5e302
  }
