<form id="prime-form" method="post" >
        
         <div class="hidden" id="error-container"></div> 
         
        <div class="prime-group">
          <label for="Primenumber">Enter a number</label>
          <input type="number" class="form-control" id="Primenumber" name="Primenumber" placeholder="Enter Here..." required >
        </div>
        
        <div class="prime-group">
          <button type="submit" class="btn">Submit</button>
        </div>
       
         <div class="hidden" id="result-container"></div> 
      
         <div class="prime-attempts">
           <ul id="attempts">
          </ul>
        </div>  
        <input name= '_method' value="PUT" hidden/>   
  </form>
  
  
  