<form id="prime-form" method="post" >
        <div class="prime-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
         </div> 
         </div>  
        <div class="prime-group">
          <label for="Primenumber">Enter a number</label>
          <input type="number" class="form-control" id="Primenumber" name="Primenumber" placeholder="Enter Here..." >
        </div>
        
        <div class="prime-group">
          <button type="submit" class="btn">Submit</button>
        </div>
        <div class="prime-group hidden" id="result-container">
        <div class="alert alert-success text-goes-here">
         </div> 
         </div> 
         <div class="prime-group">
           <ul id="attempts">
          </ul>
        </div>
          
  </form>