<br/>
<br/>
<h1 class="text-center">Shoe FLY</h1>
<br/>
<br/>

<div class="container">
  <div class="row">
  <div class="col-sm-4">
        <nav class="nav nav-list flex-column">
                <a class="nav-link active" href="#jordan1">Air Jordan 1 Mid SE</a>
                <a class="nav-link active" href="#jordan2">Air Jordan 11 Retro</a>
                <a class="nav-link active" href="#jordan3">Air Jordan 7 Retro SE</a>
                <a class="nav-link active" href="#jordan4">Jordan Stay Loyal 2</a>
                <a class="nav-link active" href="#jordan5">Air Jordan 1 Hi FlyEase</a>
                <a class="nav-link active" href="#jordan6">Air Jordan 9 Retro</a>
                <a class="nav-link active" href="#jordan7">Air Jordan 7 Retro</a>
                <a class="nav-link active" href="#jordan8">Air Jordan 3 Retro</a>
                <a class="nav-link active" href="#jordan9">Air Jordan 8 Retro SE x Rui Hachimura</a>
                <a class="nav-link active" href="#jordan10">Jordan Max Aura</a>
        </nav>
    </div>
  
  
  
  <div class="col-sm-8">
   
    <div class="row">
        <div id="jordan1" class=" card-container col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded text-center d-flex flex-wrap" >
                <img class="card-img-top " src="/public/img/jordan1.webp" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">Air Jordan 1 Mid SE</h2>
                <p class="card-text">Price: $135</p>
                <a href="#modal1" data-toggle="modal" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
         <div id="jordan2" class=" card-container  col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded text-center d-flex flex-wrap" >
                <img class="card-img-top" src="/public/img/jordan2.webp" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">Air Jordan 11 Retro</h2>
                <p class="card-text">Price: $225</p>
                <a href="#modal2" data-toggle="modal" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
         <div id="jordan3" class=" card-container  col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded text-center d-flex flex-wrap" >
                <img class="card-img-top" src="/public/img/jordan3.webp" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">Air Jordan 7 Retro SE</h2>
                <p class="card-text">Price: $210</p>
                <a href="#modal3" data-toggle="modal" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
         <div id="jordan4" class=" card-container  col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded text-center d-flex flex-wrap" >
                <img class="card-img-top" src="/public/img/jordan4.webp" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">Jordan Stay Loyal 2</h2>
                <p class="card-text">Price: $115</p>
                <a href="#modal4" data-toggle="modal" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
         <div id="jordan5" class=" card-container  col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded text-center d-flex flex-wrap" >
                <img class="card-img-top" src="/public/img/jordan5.webp" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">Air Jordan 1 Hi FlyEase</h2>
                <p class="card-text">Price: $150</p>
                <a href="#modal5" data-toggle="modal" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
         <div id="jordan6" class=" card-container  col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded text-center d-flex flex-wrap" >
                <img class="card-img-top" src="/public/img/jordan6.webp" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">Air Jordan 9 Retro</h2>
                <p class="card-text">Price: $200</p>
                <a href="#modal6" data-toggle="modal" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
         <div id="jordan7" class=" card-container  col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded text-center d-flex flex-wrap" >
                <img class="card-img-top" src="/public/img/jordan7.webp" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">Air Jordan 7 Retro</h2>
                <p class="card-text">Price: $210</p>
                <a href="#modal7" data-toggle="modal" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
         <div id="jordan8" class=" card-container  col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded text-center d-flex flex-wrap" >
                <img class="card-img-top" src="/public/img/jordan8.webp" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">Air Jordan 3 Retro</h2>
                <p class="card-text">Price: $210</p>
                <a href="#modal8" data-toggle="modal" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
         <div id="jordan9" class=" card-container  col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded text-center d-flex flex-wrap" >
                <img class="card-img-top" src="/public/img/jordan9.webp" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">Air Jordan 8 x Rui Hachimura</h2>
                <p class="card-text">Price: $225</p>
                <a href="#modal9" data-toggle="modal" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
         <div id="jordan10" class=" card-container  col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow-lg rounded text-center d-flex flex-wrap" >
                <img class="card-img-top" src="/public/img/jordan10.webp" alt="Card image cap">
                <div class="card-body">
                <h2 class="card-title">Jordan Max Aura</h2>
                <p class="card-text">Price: $95.97</p>
                <a href="#modal10" data-toggle="modal" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    </div>   
    </div>
    </div>
    </div>       
    </div>
    </div>
    <footer class="text-center">---Data and Images taken from Nike--- </footer>
</div>


<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel1">Air Jordan 1 Mid SE</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                  
            </div>
            
            <img class="img-fluid"  src="/public/img/jordan1.webp" alt="Card image cap"> 
            <div class="modal-body">
                <p>familiar feel. Every time we update the AJ1, you get the classic kicks you already love, decked out in new combinations of colors and textures. Premium materials and accents bring modern expression to an all-time favorite.</p> 
                <p>Men's Shoes</p>
                <p>$135</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel2">Air Jordan 11 Retro</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img  src="/public/img/jordan2.webp" alt="Card image cap">
            <div class="modal-body">
                <p>the AJ11 is all-time. MJ won 72 games and a title while wearing 'em. Now, the icon returns in classic colors. From its slick patent leather mudguard to the frosted outsole, this Tinker Hatfield design brings the off-court allure. And for the final touch? Full-length Air cushioning is the cherry on top (er, bottom).</p> 
                <p>Men's Shoes</p>
                <p>$225</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel3">Air Jordan 7 Retro SE</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img  src="/public/img/jordan3.webp" alt="Card image cap">
            <div class="modal-body">
                <p>Kick it back to '92 with this latest iteration of the AJ7, reviving the championship legacy for a new generation of sneakerheads. Come for the throwback style, stay all day for the premium construction and signature Air cushioning.</p> 
                <p>Men's Shoes</p>
                <p>$210</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel4">Jordan Stay Loyal 2</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img  src="/public/img/jordan4.webp" alt="Card image cap">
            <div class="modal-body">
                <p>Inspired by generations of J's, these kicks are a collage of cool. Design details recall decades of legendary shoes while paying homage to MJ's storied career. Breathable mesh, sturdy leather and lightweight Air cushioning in the heel make it that much easier to walk in the footsteps of greatness.</p> 
                <p>Men's Shoes</p>
                <p>$115</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel5">Air Jordan 1 Hi FlyEase</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img  src="/public/img/jordan5.webp" alt="Card image cap">
            <div class="modal-body">
                <p>The Air Jordan 1 Hi FlyEase combines the coveted style of Michael Jordan's first signature sneaker with a quick and easy one-handed entry system. There are no laces to tie, just a wraparound zipper and two straps to secure a custom fit.</p> 
                <p>Men's Shoes</p>
                <p>$150</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel6" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel6">Air Jordan 9 Retro</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img  src="/public/img/jordan6.webp" alt="Card image cap">
            <div class="modal-body">
                <p>The Air Jordan 9 is a symbol of versatility. First released when MJ moved from the court to the diamond, this Tinker Hatfield design still brings the heat. Crisp leather, durable textile and embroidered accents keep the magic of the original, and the iconic outsole continues to celebrate MJ's values and character—on and off the court.</p> 
                <p>Men's Shoes</p>
                <p>$200</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel7" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel7">Air Jordan 7 Retro</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img  src="/public/img/jordan7.webp" alt="Card image cap">
            <div class="modal-body">
                <p>Inspired by the shoe originally worn by MJ during the '92 season and summer of basketball, the Air Jordan 7 Retro revives its championship legacy for a new generation of sneakerheads.</p> 
                <p>Men's Shoes</p>
                <p>$210</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel8" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel8">Air Jordan 3 Retro</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img  src="/public/img/jordan8.webp" alt="Card image cap">
            <div class="modal-body">
                <p>Clean and supreme, the AJ3 returns with all of its classic style and grace. Quality leather in the upper—with that luxurious elephant print texture—combines with visible Air in the sole to make a comfortable, everyday icon. Fire-red details burn through, giving you one hot look.</p> 
                <p>Men's Shoes</p>
                <p>$210</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel9" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel9">Air Jordan 8 Retro SE x Rui Hachimura</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img  src="/public/img/jordan9.webp" alt="Card image cap">
            <div class="modal-body">
                <p>Lesson 1: thrive and own your identity. Lesson 2: if you want the speed and agility of the Black Samurai, these are the shoes for you. Inspired by Rui Hachimura’s heritage, they’ll let you channel his pride and power every time you step onto the court (with a little help from the elevated twin Air units).</p> 
                <p>Men's Shoes</p>
                <p>$225</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel10" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel10">Jordan Max Aura</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img  src="/public/img/jordan10.webp" alt="Card image cap">
            <div class="modal-body">
                <p>Celebrating Jordan's basketball DNA, the Jordan Max Aura sets you up with plush cushioning and a look inspired by Jordan's basketball heritage.</p> 
                <p>Men's Shoes</p>
                <p>$95.97</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

